[defaults]
remote_user = root
inventory = ./inventory
private_key_file = ~/.ssh/id_rsa
# ansible_user=test
# ansible_ssh_pass=test
host_key_checking = False
forks = 9

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
